In [32]:
import pandas as pd

In [35]:
students_dict = {"name" : ["karen", "jean", "mohammed", "kim"], "gender": ["f", "m", "m", "f"], "lab 1" : [3, 2.5, 2, 1.5], "lab 2" : [2.8,3.0, 2.8, 1.5], "lab 3" : [3,2.9, 2, 1.5], "test 1" : [10.0, 9.0, 6.5, None]}
students = pd.DataFrame(students_dict)
students.set_index("name", inplace = True)

In [36]:
genders = students.groupby(students["gender"]).count()
genders.head()

        lab 1  lab 2  lab 3  test 1
gender
f           2      2      2       1
m           2      2      2       2

In [2]:
toronto = pd.read_csv("../data/Toronto.csv", parse_dates=["Date"], index_col=False)

In [15]:
monthly = toronto.groupby([toronto['Date'].dt.year, toronto['Date'].dt.month])["Max Temperature"].min()

In [16]:
monthly.head(12)

Date  Date
1979  1       -9.133
      2      -18.446
      3       -4.840
      4       -0.483
      5        4.619
      6       11.189
      7       16.599
      8       15.756
      9       14.437
      10       3.301
      11       0.695
      12      -5.023
Name: Max Temperature, dtype: float64